[Unit]
Description=Streamer Agent Service for FieldLine OPM

[Service]
EnvironmentFile=/etc/streamer-agent.cfg
ExecStart=/sbin/streamer-agent

[Install]
WantedBy=multi-user.target
